/NESI/NESI-Medication-Analysis/eleveld-pk-analysis/data/
/NESI/NESI-Medication-Analysis/medication-exposure/data/
ICANS/SLEEPHeadbasedSelectEEGSegments/AllContiniousEEGSegments/
RASS/Cohort/I0001_RASS_metadata_with_target_medications.csv
Death/MorgothActivations/
NESI/Data/
RASS/MorgothActivations/
GCS/MorgothActivations/
RASS/MorgothActivations/
NESI/FigureNESI/
RASS/MorgothActivations/
RASS/model/
LR_RASS/
RASS/model/ModelCheckpoints/SVM_RASS/SVM/cov_upper/

# macOS
.DS_Store
